@font-face {
  font-family: "Montserrat", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300&display=swap");
}

@font-face {
  font-family: "Lato", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&display=swap");
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  /* height: 2080px; */
  background-image: url("/images/main-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-link {
  color: #fff !important;
  letter-spacing: 2px;
}

.nav-link:nth-child(1) {
  border-bottom: 1px solid white;
}
.first-title {
  text-align: center;
}
.second-title {
  color: #a9afb3;
  text-align: center;
  font-family: Lato;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px;
  padding: 20px;
}
.blocks-img {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}
.first-block {
  position: absolute;
  display: inline-block;
  left: 467px;
}
.second-block {
  position: absolute;
  display: inline-block;
}
.third-block {
  position: relative;
  left: 340px;
}
.ava-1 {
  position: absolute;
  left: 20px;
  margin-top: 125px;
}
.ava-2 {
  position: absolute;
  left: 20px;
  margin-top: 125px;
}
.ava-3 {
  position: absolute;
  left: 20px;
  margin-top: 125px;
}
.title-1 {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  top: 125px;
  right: 160px;
  color: white;
}
.title-2 {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  top: 125px;
  right: 115px;
  color: white;
}
.title-3 {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  top: 125px;
  right: 155px;
  color: white;
}
.title-4 {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  margin-top: 20px;
  position: absolute;
  color: black;
}
.title-block {
  display: flex;
  justify-content: center;
  margin-top: 160px;
}
.title-6 {
  font-size: 18px;
}
.link-title {
  size: 10px;
  color: #8d4fdb;
}
.footer-block {
  display: block;
  background-color: black;
  padding: 40px;
  margin-top: 273px;
  text-align: center;
}
.title-footer {
  font-size: 17px;
  font-family: Lato;
  color: #8b8b8b;
}
.title-footer-2 {
  font-family: Lato;
  font-size: 16px;
  color: #8b8b8b;
}
.title-footer-3 {
  font-family: Lato;
  font-size: 16px;
  color: #8d4fdb;
}
.l {
  color: #8b8b8b;
}
.title-footer-4 {
  font-family: Lato;
  font-size: 16px;
  color: #8b8b8b;
}
.k {
  font-family: Lato;
  font-size: 16px;
  color: #8d4fdb;
}
.title-footer-5 {
  font-family: Lato;
  font-size: 16px;
  color: #8b8b8b;
}
.j {
  font-family: Lato;
  font-size: 16px;
  color: #8d4fdb;
}
